h1 {
    margin: 0;
}

p {
    margin: 0;
}

.section {
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    font-family: "RF Dewi Extended";
}

.header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    background-color: #121214;
    margin-bottom: 49px;

    @media (max-width: 361px) {
        height: 80px;
    }
}

.header_menu {
    display: flex;
    align-items: center;
    gap: 48px;

    @media (max-width: 1150px) {
        display: none;
    }
}

.header_mobile_container {
    @media (min-width: 568px) {
        display: none;
    }
    @media (max-width: 568px) {
        display: flex;
        align-items: center;
        gap: 36px;
    }
}

.header_menu_text {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.header_logotips {
    display: flex;
    align-items: center;
    gap: 32px;

    @media (max-width: 361px) {
        gap: 22px;
    }
}

.website_logo_container {
    display: flex;
    align-items: center;
    gap: 54px;
}

.burger_logo {
    @media (min-width: 768px) {
        display: none;
    }
    @media (max-width: 568px) {
        display: none;
    }
}

.price_container {
    display: flex;
    align-items: center;
    gap: 5px;

    @media (max-width: 568px) {
        position: relative;
    }
}

.price_text {
    color: #8C8F96;
    text-align: center;
    font-family: "Cera Pro";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;

    @media (max-width: 568px) {
        display: none;
    }
}

.search_logo {
    @media (max-width: 568px) {
        display: none;
    }
}

.shop_logo {

}

.new_logo {
    @media (max-width: 568px) {
        position: absolute;
        top: -5px;
        right: -4px;
        width: 14px;
        height: 14px;
    }
}

.hero_block {
    display: flex;
    flex-direction: column;
    max-width: 1541px;
    height: 631px;
    background-image: url("./img/hero_background.png");
    border-radius: 7px;
    margin: 0 auto;
}

.hero_content {
    display: flex;
    padding: 98px 0 0 90px;
}

.hero_title {
    color: #171819;
    font-family: "RF Dewi Expanded";
    font-size: 51px;
    font-style: normal;
    font-weight: 900;
    line-height: 63px;
    text-transform: uppercase;
}

.hero_text {
    color: #121214;
    font-family: "RF Dewi Extended";
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.hero_btn {
    display: flex;
    padding: 23px 27px;
    width: 150px;
    justify-content: center;
    align-items: center;
    background-color: #121214;
    border-radius: 5px;

    color: #FFF;
    font-family: "RF Dewi Expanded";
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 17px;
    text-transform: uppercase;
}

.hero_text_container {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.hero_arrows {
    display: flex;
    gap: 15px;
}

.arrow {
    width: 67px;
    height: 67px;
}