.hover-underline {
    font-size: 2rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.hover-underline::before {
    top: -5px;
    transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: local("RF Dewi Expanded Bold");
    src: local('RF-Dewi-Expanded-Bold');
    url('./RFDewiExpanded-Bold.woff2') format('woff2'),
    url('./RFDewiExpanded-Bold.woff') format('woff'),
    url('./RFDewiExpanded-Bold.ttf') format('truetype'),
    font-weight: 700;
    font-style: normal;
}

.tablet_close {
    display: flex;
    gap: 30px;
    @media (max-width: 1340px) {
        display: none;
    }
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

.section {
    margin: 0 auto;
}

body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    font-family: RF Dewi Expanded, sans-serif;
    margin: 0 auto;
}

.header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    background-color: #121214;
    margin-bottom: 49px;

    @media (max-width: 361px) {
        height: 80px;
    }
    @media (max-width: 568px) {
        gap: 25px;
    }
}

.header_menu {
    display: flex;
    align-items: center;
    gap: 48px;

    @media (max-width: 1150px) {
        display: none;
    }
}

.header_mobile_container {
    @media (min-width: 568px) {
        display: none;
    }
    @media (max-width: 568px) {
        display: flex;
        align-items: center;
        gap: 36px;
    }
}

.header_menu_text_container {
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shoes_text {
    width: 58px;
}

.accessory_text {
    width: 104px;
}

.brand_text {
    width: 70px;
}

.info_text {
    width: 112px;
}

.header_menu_text {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.header_logotips {
    display: flex;
    align-items: center;
    gap: 32px;

    @media (max-width: 361px) {
        gap: 22px;
    }
}

.website_logo_container {
    display: flex;
    align-items: center;
    gap: 54px;
}

.burger_logo {
    @media (min-width: 1151px) {
        display: none;
    }
    @media (max-width: 568px) {
        display: none;
    }
}

.price_container {
    display: flex;
    align-items: center;
    gap: 5px;

    @media (max-width: 568px) {
        position: relative;
    }
}

.price_text {
    color: #8C8F96;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;

    @media (max-width: 568px) {
        display: none;
    }
}

.search_logo {
    @media (max-width: 568px) {
        display: none;
    }
}

.shop_logo {

}

.new_logo {
    @media (max-width: 568px) {
        position: absolute;
        top: -5px;
        right: -4px;
        width: 14px;
        height: 14px;
    }
}

.hero_block {
    display: flex;
    max-width: 1541px;
    height: 631px;
    background-image: url("./img/hero_background.png");
    border-radius: 7px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 768px) {
        height: 451px;
    }
    @media (max-width: 568px) {
        background-image: url("./img/hero_background_mobile.png");
        height: auto;
        padding: 10% 0 5%;
    }
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: 63px;
    padding: 98px 0 0 90px;


    @media (max-width: 768px) {
        gap: 19px;
        padding: 59px 0 0 67px;
    }
    @media (max-width: 568px) {
        gap: 24px;
        padding: 43px 0 0 17px;
    }
}

.hero_title {
    color: #171819;
    font-size: 51px;
    font-style: normal;
    font-weight: 900;
    line-height: 63px;
    text-transform: uppercase;


    @media (max-width: 768px) {
        font-size: 34px;
        line-height: 43px;
    }
    @media (max-width: 361px) {
        line-height: 25px;
        font-size: 18px;
        transform: scaleX(1.1); /* растягивает текст в 1.1 раза */
        position: relative;
        right: -4.5%;
    }
}

.hero_text {
    color: #121214;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

    @media (max-width: 768px) {
        font-size: 17px;
        line-height: 27px;
    }
    @media (max-width: 568px) {
        line-height: 27px;
    }
    @media (max-width: 361px) {
        line-height: 19px;
        font-size: 12px;
    }
}

.hero_text_on_tablet {

    @media (max-width: 769px) {
        display: flex;
    }
    @media (min-width: 769px) {
        display: none;
    }
    @media (max-width: 568px) {
        display: none;
    }
}

.hero_text_off_tablet {
    @media (min-width: 768px) {
        display: flex;
    }
    @media (max-width: 768px) {
        display: none;
    }
    @media (max-width: 568px) {
        display: none;
    }
}

.hero_text_on_mobile {
    @media (min-width: 768px) {
        display: none;
    }
    @media (max-width: 769px) {
        display: none;
    }
    @media (max-width: 568px) {
        display: flex;
    }
}

.hero_text_off_mobile {
    @media (min-width: 768px) {
        display: none;
    }
    @media (max-width: 768px) {
        display: none;
    }
    @media (max-width: 568px) {
        display: flex;
    }
}

.hero_btn {
    display: flex;
    width: 251px;
    height: 66px;
    justify-content: center;
    align-items: center;
    background-color: #121214;
    border-radius: 5px;
    gap: 23px;
    cursor: pointer;
    transition: 0.2s ease;

    @media (min-width: 568px) {
        width: 231px;
    }

    @media (max-width: 568px) {
        width: 204px;
        gap: 15px;
    }
}

.hero_btn:hover {
    scale: 0.95;
}

.hero_btn_text {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    text-transform: uppercase;

    @media (max-width: 568px) {
        font-size: 10px;
        line-height: 20px;
    }
}

.hero_text_container {
    display: flex;
    flex-direction: column;
    gap: 19px;

    @media (max-width: 568px) {
        gap: 9px;
    }
}

.hero_arrows {
    display: flex;
    gap: 15px;
}

.arrow_left {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: #FFF;
    align-content: center;
    text-align: center;

    @media (max-width: 768px) {
        width: 54px;
        height: 54px;
    }
}

.arrow_right {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: #F0F2F6;
    align-content: center;
    text-align: center;

    @media (max-width: 768px) {
        width: 54px;
        height: 54px;
    }
}

.cloth_catalog {
    display: flex;
    flex-direction: column;
    max-width: 1362px;
    margin: 80px auto;
    gap: 80px;

    @media (max-width: 1340px) {
        max-width: 768px;
    }
}

.cloth_catalog_container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1362px;
    height: 521px;

    @media (max-width: 1340px) {
        max-width: 667px;
        justify-content: space-between;
        margin: 0 auto;
    }

    @media (max-width: 680px) {
        max-width: 550px;
        height: auto;
        margin: 0 auto;
        justify-content: space-between;
    }

}

.catalog_container_top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.catalog_container_title {
    color: #121214;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 42px;
    text-transform: uppercase;
}

.catalog_container_main {
    display: flex;
    gap: 30px;

    @media (max-width: 1340px) {
        justify-content: center;
    }
    @media (max-width: 568px) {
        max-width: 340px;
        gap: 20px;
    }
}

.more_btn {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #000;
}

.more_img {
    width: 9.6px;
    height: 7.6px;
}

.product_card {
    display: flex;
    width: 318px;
    height: 369px;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 568px) {
        width: 160px;
        height: 224px;
    }
}

.product_card_img {
    width: 100%;
    height: auto;
}

.product_card_title {
    color: #121214;
    font-size: 19px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: 19px;
        line-height: 28px;
    }

    @media (max-width: 568px) {
        font-size: 14px;
        line-height: 18px;
    }
}

.product_card_text {
    color: #3C3C3C;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.slider {
    display: flex;
    gap: 45px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.mobile_off {
    @media (max-width: 568px) {
        display: none;
    }
}

.calculator_section {
    position: absolute;
    top: -37%;
    display: flex;
    max-width: 1541px;
    width: 100%;
    height: 631px;
    border-radius: 7px;
    background: linear-gradient(267deg, #0D99F8 0.94%, #21A0F8 5.36%, #54B5FF 27.35%, #0DBBF8 79%, #0DDBF8 97.53%);
    margin: 0 auto;

    @media (max-width: 1250px) {
        max-width: 728px;
        height: 535px;
        top: -27%;
    }
    @media (max-width: 768px) {
        max-width: 500px;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 590px) {
        top: -18%;
    }
}

.calculator_content {
    display: flex;
    max-width: 1541px;
    width: 100%;

    @media (max-width: 769px) {
        justify-content: center;
    }

    @media (max-width: 1500px) {
        justify-content: center;
    }
}

.calc_container {
    display: flex;
    flex-direction: column;
    gap: 41px;
    margin: 98px 0  0 90px;

    @media (max-width: 1250px) {
        margin: 36px 0 0 70px;
    }
    @media (max-width: 768px) {
        align-items: center;
        justify-content: center;
        margin: initial;
        padding: 36px 0 33px 0;
    }
}

.calc_title {
    color: #FFF;
    font-size: 51px;
    font-style: normal;
    font-weight: 900;
    line-height: 63px;
    text-transform: uppercase;

    @media (max-width: 1250px) {
        font-size: 34px;
        line-height: 43px;
    }
    @media (max-width: 768px) {
        font-size: 23px;
        line-height: 32px;
    }
}

.calc_text {
    color: #FFF;
    max-width: 738px;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

    @media (max-width: 1250px) {
        font-size: 15px;
        line-height: 27px;
        max-width: 440px;
        width: 100%;
    }
    @media (max-width: 768px) {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }
}

.calc_text_container {
    display: flex;
    flex-direction: column;
    gap: 19px;

    @media (max-width: 768px) {
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

.calc_block {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: 1250px) {
        gap: 49px;
    }

    @media (max-width: 768px) {
        align-items: center;
        justify-content: center;
        gap: 22px;
    }
}

.calc_steps {
    display: flex;
    gap: 58px;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 23px;
    }

    @media (max-width: 1250px) {
        gap: 20px;
    }
}

.step_first_text {
    display: flex;
    flex-wrap: nowrap;
    max-width: 258px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;

    @media (max-width: 1250px) {
        font-size: 14px;
        line-height: 21px;
    }
}

.step_text {
    max-width: 258px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;

    @media (max-width: 1250px) {
        max-width: 202px;
        font-size: 14px;
        line-height: 21px;
    }
}

.step_nub {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;

    color: #FFFFFF;

    @media (max-width: 1250px) {
        /*padding: 18px 26px 19px 27px;*/
        font-size: 24px;
        line-height: 14px;
    }
}

.step {
    width: 355px;
    height: 77px;
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: 1250px) {
        width: 281px;
    }
}

.step_circle_text {
    width: 62px;
    height: 62px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    align-content: center;
    text-align: center;
}

.calc_button {
    display: flex;

    @media (max-width: 1350px) {
        justify-content: center;
    }
}

.calc_button_text_container {
    width: 294px;
    height: 66px;
    display: flex;
    border-radius: 5px;
    background-color: #121214;
    justify-content: center;
    align-items: center;
    gap: 23px;
    color: #FFF;
    cursor: pointer;
    transition: 0.2s ease;

    @media (max-width: 568px) {
        width: 229px;
        height: 51px;
    }
}

.calc_button_text_container:hover {
    scale: 0.95;
}

.calc_button_text {
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    text-transform: uppercase;
}

.calc_button_img {
    width: 7.6px;
    height: 9.6px;
}

.phone_img {
    width: auto;
    height: 680px;
    position: absolute;
    top: -8%;
    left: 62%;

    @media (max-width: 1500px) {
        height: 60%;
        top: -4%;
        left: 70%;
    }

    @media (max-width: 1250px) {
        height: 60%;
        top: -3%;
        left: 64%;
    }
    @media (max-width: 768px) {
        display: none;
    }
}

.about {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1920px;
    width: 100%;
    height: 603px;
    padding-top: 292px;
    margin-top: 419px;
    background: radial-gradient(115.19% 118.79% at 16.91% 0%, rgba(255, 255, 255, 0.19) 0%, rgba(255, 255, 255, 0.00) 100%), linear-gradient(274deg, #BCBFC7 -4.34%, #D5D7DC 46.57%), #D9D9D9;

    @media (max-width: 1250px) {
        margin-top: 302px;
    }

    @media (max-width: 590px) {
        height: 900px;
        padding-bottom: 59px;
    }
}

.about_container {
    display: flex;
    max-width: 1541px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 1251px) {
        flex-direction: column;
        margin: 59px auto 0;
        gap: 31px;
    }
}

.about_text_block {
    display: flex;
    flex-direction: column;
    max-width: 812px;
    width: 100%;
    height: auto;
    gap: 17px;

    @media (max-width: 1250px) {
        max-width: 668px;
        width: 100%;
    }
    @media (max-width: 590px) {
        align-items: center;
    }
}

.about_text_container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.about_title {
    color: #121214;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    text-transform: uppercase;

    @media (max-width: 1250px) {
        font-size: 25px;
        line-height: 35px;
    }

    @media (max-width: 590px) {
        font-size: 19px;
        line-height: 29px;
    }
}

.about_text {
    color: #303030;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

    @media (max-width: 1250px) {
        font-size: 15px;
        line-height: 27px;
    }
    @media (max-width: 590px) {
        line-height: 20px;
    }
}

.about_advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 415px;
    height: 426px;
    gap: 40px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0 312px 87px 0 rgba(0, 0, 0, 0.00), 0 199px 80px 0 rgba(0, 0, 0, 0.01), 0 112px 67px 0 rgba(0, 0, 0, 0.02), 0 50px 50px 0 rgba(0, 0, 0, 0.03), 0 12px 27px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 rgba(0, 0, 0, 0.04);

    @media (max-width: 1251px) {
        flex-direction: initial;
        max-width: 728px;
        width: 100%;
        gap: initial;
    }
    @media (max-width: 590px) {
        width: 340px;
        height: 396px;
        flex-direction: column;
        gap: 28px;
    }
}

.advantage_img {
    width: 51.5px;
    height: 51.5px;

    @media (max-width: 1250px) {
        width: 40px;
        height: 40px;
    }
}

.advantage_container_first {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 322.25px;
    height: auto;
    gap: 28.75px;

    @media (max-width: 1251px) {
        flex-direction: column;
        width: 221px;
        gap: 17px;
    }
    @media (max-width: 590px) {
        flex-direction: initial;
        width: 235px;
        gap: 27px;
    }
}

.advantage_container_second {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 322.25px;
    height: auto;
    gap: 28.75px;

    @media (max-width: 1251px) {
        flex-direction: column;
        width: 195px;
        gap: 17px;
    }
    @media (max-width: 590px) {
        flex-direction: initial;
        width: 235px;
        gap: 27px;
    }
}

.advantage_container_three {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 322.25px;
    height: auto;
    gap: 28.75px;

    @media (max-width: 1251px) {
        flex-direction: column;
        width: 224px;
        gap: 17px;
    }
    @media (max-width: 590px) {
        flex-direction: initial;
        width: 235px;
        gap: 27px;
    }
}

.advantage_title {
    color: #121214;
    font-size: 13px;
    font-style: normal;
    font-weight: 900;
    line-height: 22px;
    text-transform: uppercase;

    @media (max-width: 1250px) {
        font-size: 12px;
    }
}

.advantage_text {
    color: #303030;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.advantage_text_container {
    display: flex;
    flex-direction: column;
    width: 242px;
    align-items: flex-start;
    gap: 4px;
}

.advantage_mobile_on {
    @media (min-width: 590px) {
        display: none;
    }
    @media (max-width: 589px) {
        display: flex;
    }
}

.advantage_mobile_off {
    @media (max-width: 1250px) {
        display: none;
    }
    @media (min-width: 1250px) {
        display: flex;
    }
    @media (max-width: 590px) {
        display: none;
    }
}

.advantage_second_mobile_on {
    @media (max-width: 1250px) {
        display: flex;
    }
    @media (min-width: 1250px) {
        display: none;
    }
    @media (max-width: 590px) {
        display: none;
    }
}
.display_off {
    @media (max-width: 1350px) {
        display: none;
    }

}

.calc_tablet_on {
    @media (min-width: 568px) {
        display: flex;
    }
}

.calc_mobile_on {
    @media (max-width: 1250px) {
        display: none;
    }
    @media (min-width: 1250px) {
        display: flex;
    }
}

.calc_mobile_off {
    @media (max-width: 1250px) {
        display: flex;
    }
    @media (min-width: 1250px) {
        display: none;
    }
}

.our_blog_container {
    display: flex;
    flex-direction: column;
    max-width: 1362px;
    height: 599px;
    margin: 80px auto 0;

    @media (max-width: 1250px) {
        width: 679px;
        height: 485px;
    }
    @media (max-width: 690px) {
        width: 340px;
        height: auto;
    }
}

.blog_mobile_on {
    @media (max-width: 1250px) {
        display: flex;
    }
    @media (min-width: 1250px) {
        display: none;
    }
    @media (max-width: 690px) {
        display: none;
    }
}

.blog_mobile_off {
    @media (min-width: 691px) {
        display: none;
    }
    @media (max-width: 690px) {
        display: flex;
    }
}

.our_blog_main_container {
    display: flex;
    width: auto;
    height: 445px;
    gap: 31px;
}

.blog_card {
    display: flex;
    flex-direction: column;
    max-width: 433px;
    height: auto;
    gap: 13px;
}

.blog_card_img {
    width: 100%;
    height: 250px;

    @media (max-width: 1250px) {
        width: 324px;
        height: 188px;
    }
    @media (max-width: 690px) {
        width: 100%;
        height: 196px;
    }
}

.blog_card_text_container {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.blog_card_title {
    color: #121214;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;

    @media (max-width: 1250px) {
        font-size: 17px;
        line-height: 22px;
    }
}

.blog_card_text {
    color: #303030;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;

    @media (max-width: 1250px) {
        font-size: 13px;
        line-height: 22px;
    }
}

.blog_card_button_container {
    display: flex;
    justify-content: space-between;
}

.blog_card_button {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 15px;
    text-transform: uppercase;

    @media (max-width: 1250px) {
        font-size: 11px;
        line-height: 15px;
    }
}

.blog_card_button_date {
    color: #8C8F96;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
}

.blog_card_tablet_off {
    @media (max-width: 1250px) {
        display: none;
    }
}

.blog_card_mobile_off {
    @media (max-width: 690px) {
        display: none;
    }
}
